.mat-list .mat-list-item {
    color: #fff;
    font-size: 13px;
}
h3.list-title {
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 2.4;
    cursor: pointer;
}
.list-date {
    font-size: 11px !important;
    line-height: 1;
}
.strikethrough {
    text-decoration: line-through;
    color: #005cb9;
}